#centreon_status th {
  text-align: center;
}
.tdcenter {
  text-align: center;
}
.badge_cenreon {
  display: inline-block;
  border-radius: 18px;
  color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.status_ok {
  background-color: #88b917;
  color: #fff;
  text-align: center;
}
.status_warning {
  background-color: #ff9a13;
  text-align: center;
}
.status_critical {
  background-color: #e00b3d;
  color: #fff;
  text-align: center;
}
.status_unknown {
  background-color: #818285;
  color: #fff;
  text-align: center;
}
